* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

h1 {
  padding: 20px 10px;
  margin: 0 0 75px 0;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
}

/******************************* BODY  *******************************/

body {
  position: absolute;
  display: flex;
  flex-direction: row;
  background: #f7f7f7;
}


/******************************* NAV  *******************************/

nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #212121;
  color: white;
  height: 100vh;
}

nav ul {
  display: flex;
  flex-direction: column;
}

nav ul li {
  margin: 15px 0px;
}

nav #myLinks {
  display: none;
}

nav a {
  display: block;
  color: white;
  padding: 20px 16px;
  text-decoration: none;
}

nav h1 {
  padding: 14px 16px;
  margin: 0 0 100px 0;
}

nav .icon {
  display: none;
}

nav ul li a i {
  font-size: 25px;
  text-decoration: none;
  color: white;
}

nav ul li a i:hover {
  color: #ff9c00;
}

/******************************* CASES  *******************************/

.side-cases {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0 20px;
}

.cases {
  background: white;
  color: rgb(88, 88, 88);
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #cecece;
}

.cases:hover {
  border-color: #ff9c00;
}

.cases h3 {
  margin-bottom: 15px;
  font-size: 25px;
}

.cases p {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 8px 0px;
}

.cases p span {
  text-transform: none;
  color: rgb(126, 126, 126);
  font-weight: normal;
  display: block;
  letter-spacing: normal;
}

.btn {
  margin: 10px 0 0 0;
  border-color: 1px solid #ff9c00;
  border-radius: 5px;
  background-color: #ff9c00;
  border: none;
  padding: 10px 24px;
  font-family: "open sans";
  color: white;
}

.btn:hover {
  border-color: 1px solid #ff9c00;
  background-color: #ffb949;
}

/******************************* EMULATOR  *******************************/

form {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #cecece;
  color: rgb(75, 75, 75);
  margin: 20px 0 0 10px;
}

h2 {
  padding: 10px 0;
  font-size: 18px;
  text-transform: uppercase;
}

.emulator-title {
  margin: 10px 0 0 30px;
}

.paying-title {
  padding: 10px;
  font-size: 14px;
  margin: 0;
  font-weight: bold;
}

.paying-title i {
  font-size: 15px;
  margin-right: 7px;
}

.top-one {
  display: flex;
  align-items: center;
}

.top-form {
  display: flex;
  border: 1px solid #cecece;
  border-radius: 5px;
  margin-left: 30px;
}

select {
  outline: none;
  color: grey;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  width: 100%;
}

.merge {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bold;
  width: 150px;
  margin: 0 0 0 50px;
}

.merge i {
  margin-left: 5px;
}

/******************************* MENU  *******************************/

.menu {
  margin: 30px;
}

.alert {
  display: none;
  margin: 0 0 15px 0;
  padding: 20px;
  width: 50%;
  color: rgb(198, 179, 0);
  background-color: rgb(255, 247, 202);
  border: 1px solid rgb(198, 179, 0);
  border-radius: 5px;
  text-shadow: none;
}

.all-sliders {
  display: flex;
  justify-content: space-between;
}

.slider-description {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
  margin: 0 10px 0 0;
}

.description-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-description p {
  display: inline-block;
  font-weight: bold;
}

.tooltip i {
  display: inline-block;
  font-size: 15px;
}

/******************************* TOOLTIPS  *******************************/

.tooltip {
  position: relative;
  display: inline-block;
  font-weight: normal;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: white;
  color: grey;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: -150px;
  box-shadow: 0 2px 5px lightgrey;

}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;

}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/******************************* SLIDERS  *******************************/

.switch {
  display: inline-block;
  height: 34px;
  width: 60px;
  transform: translate(-5px, 0) scale(.8);
  margin: 0;
  border-radius: 25px;
  border: 1px solid #cecece;

}

.switch:hover {
  border-radius: 34px;
  transform: translate(-5px, 0) scale(.8);
}

.switch input {
  display: none;
}

.slider {
  background-color: rgb(255, 255, 255);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: rgb(144, 144, 144);
  bottom: 4px;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
}

input:checked+.slider {
  background-color: #29a700;
}

input:checked+.slider:before {
  transform: translateX(26px);
  background-color: white;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/******************************* OUTPUT  *******************************/

.output {
  display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background-color: white;  
  }


.output div {
  flex-basis: 50%;
}

.output li {
  height: 3em;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1em;
  font-weight: bold;
}

#options-breakdown li {
  text-align: left;
  text-transform: uppercase;
}

i {
  align-self: center;
  font-size: 40px;
}

.outcome-title {
  text-align: center;
  padding: 15px 0;
  text-transform: uppercase;
  background-color: #ff9c00;
  color: white;
}

.shared-with ul li i {
  margin: 0 auto;
}

/******************************************* TAX OUTCOME *************************************/

.invoice,
.website {
  width: 50%;
}

.title {
  background: rgba(255, 149, 0, 1);
  padding: 10px;
  margin: 0;
}

.box {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  line-height: 100px;
  height: 100px;
  border-radius: 5px;
}

.box i {
  margin: 0 10px;
}

.box span {
 font-size: 26px;
 font-weight: bold;  
}

/******************************************* TAX PAGE *************************************/

.default {
  margin: 10px 0 10px 30px;
  display: block;
}

.top-form-tax {
  display: flex;
  border-radius: 5px;
  margin-left: 30px;
}

.menu .emulator-title {
  margin: 0;
}

.number {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #cecece;
  border-radius: 4px;
  margin: 0 0 15px 0;
}

.all-sliders-tax {
  display: flex;
  justify-content: space-between;
}

.all-sliders-tax .slider-description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 250px;
}

#plan-price {
  width: 75px;
  margin: 0;
  border: none;
  padding: auto;
  border-radius: 0 4px 4px 0;
}

#tax-rate {
  width: 50px;
  margin: 0;
  border: none;
  padding: auto;
  border-radius: 4px 0 0 4px;
}

.paying-title {
  background: #e8e8e8;
}

/******************************************* INPUT FIELD *************************************/

.field {
  padding: 8px;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  background: white;
}

.field:hover {
  background: rgba(251, 251, 251, 0.855);
}


.field::placeholder {
  color: lightgray;
  font-weight: bold;
}

input[type=number],
textarea {
  transition:all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
  text-align: center;
}

input[type=number]:focus,
textarea:focus {
  box-shadow: 0 0 5px rgb(255, 214, 163);
  border: 1px solid rgb(255, 214, 163);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}


/*******************************  CONTRACT PAGE  *******************************/

.customer-top {
  display: inline-block;
}

.customer-form {
  display: flex;
  border: 1px solid #cecece;
  border-radius: 5px;
  margin: 30px 0 0 30px;
  width: fit-content;
}

.invoice-period {
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  flex-wrap: wrap;
}

.plan-date {
  display: flex;
  margin: 15px 0 0 0px;
  width: fit-content;
  width: 40%;
}

.date {
  display: flex;
  padding: 0;
  margin: 0 0 0 30px;
  width: fit-content;
  border: 1px solid #cecece;
  border-radius: 5px;
}

.field {
  padding: 8px;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
}


#billing-day {
  width: 30px;
  margin: 0;
  border: none;
  padding: auto;
  border-radius: 4px 0 0 4px;

}

/****************************** DATE PICKER *************************************S*/

input[type="date"] {
  background:  95% 30% / contain no-repeat url('imgs/iconfinder_calendar-o_1608598.svg');
  color:grey;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

label {
  display: block;
}

input {
  border:none;
  margin-left: 10px;
  background-color: #fff;
}

/*******************************  CONTRACT SLIDERS  *******************************/

.contract-slider {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

}

.contract-switch {
  display: flex;
}

.contract-switch i {
  margin: 0 0 0 30px;
}

#price {
  display: none;
  margin: 0;
}

#cancel {
  display: none;
  margin: 0;
}

.cancellation {
  margin: 0 0 0 30px;
}



/******************************* MEDIA QUERY  *******************************/


@media screen and (max-width: 600px) {

  body {
    flex-direction: column;
    margin: 0;
    width: 100vw;
  }

  /******************************* MOBILE NAV   *******************************/
  nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 0;
    height: 100%;
    width: 100vw;
  }

  #myLinks {
    position: absolute;
    top: 0;
    right: 0;
  }

  #myLinks a {
    position: relative;
    width: 100vw;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: #e8e8e8;
    box-shadow: 0 2px 3px lightgrey;
    text-transform: uppercase;
  }

  nav h1 {
    margin: 0;
  }

  nav ul {
    display: none;
  }

  nav .icon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 25px 25px;
    color: white;
    display: block;
  }

  /******************************* MOBILE CASES *******************************/

  .side-cases {
    margin: 0 15px;
    }


  /************************** MOBILE EMULATOR CASES  **************************/

  .emulator {
    margin: 15px;
    box-shadow: none;
    outline: 1px solid white;
  }

  form {
    margin: 0 0;
  }

  /******************************* MOBILE MENU *******************************/

  select {
    padding: 5px 5px;
    margin: 0;
  }
 
  .emulator-title {
    margin: 0 10px;
  }
  .paying-title {
    padding: 15px 5px;
  }
 
  .top-one {
    padding: 20px 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0 15px;
  }

  .top-form {
    margin-left: 15px;
  }

  div .merge {
    width: 150px;
    margin: 15px 0 0 10px;
    flex-direction: row;
  }

  .btn {
    width: 100%;
  }

  .invoice-period {
    flex-direction:column;
    align-content: flex-start;
    margin: 0 -20px;
  }

  .customer-form {
    display: flex;
    border: 1px solid #cecece;
    border-radius: 5px;
    margin: 15px 10px;
    width: fit-content;
  }
  .menu {
    margin: 0 10px;
  }
  .cancellation {
    margin: 0 10px;
  }
  /******************************* MOBILE SLIDERS *******************************/

  .all-sliders {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .slider-description {
    display: flex;
    align-items: flex-start;
    margin: 0 0 20px 0;
    width: 100%;
  }

  .all-sliders-tax {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .switch {
    margin: 10px 0 0 0;
    transform: scale(1);
  }

  .switch:hover {
    transform: scale(1);
  }

  /******************************* MOBILE TOOLTIP *******************************/

  .tooltip {
    display: none;
  }

  .tooltiptext {
    display: none;
  }

  .tooltip:hover .tooltiptext {
    display: none;
  }

  /******************************* MOBILE OUTCOME *******************************/

  .outcome-title {
    height: 40px;
    padding: 5px 0;
    font-size: 15px;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .output li {
    height: 3em;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
  }

  .output li i {
    font-size: 26px;
  }

}